# Data Strucutres in Python
lists
Tuple
sets

In [77]:
#Setup imports
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Lists 

- mutable

In [61]:
# Basics

# Creating a List with the use of multiple values
list_var = [1,2,3,4,'c',"hello",3.456]
list_var

[1, 2, 3, 4, 'c', 'hello', 3.456]

In [62]:

# Creating a Multi-Dimensional List (By Nesting a list inside a List)
list_var_2 = [[346, 'to'], ["hi","nice"]]
list_var_2

[[346, 'to'], ['hi', 'nice']]

In [63]:
# index number
list_var[0]

1

In [64]:
# negative indexing
list_var[-1]

3.456

In [65]:
# slicing
print(f'{list_var[2:4]=}\n{list_var[-2:2:-1]=}')

list_var[2:4]=[3, 4]
list_var[-2:2:-1]=['hello', 'c', 4]

In [105]:
# indexof
list_var.index(list_var[2])

2

In [66]:
#operations
l = [23,34,52,65,8,2,3]

In [67]:
# copied sort
s_l = sorted(l,key=None,reverse=False)
print(f'COPIED SORT : {l=} -> {s_l=}')
# inplace sort
l.sort(key=None,reverse=False)
print(f'inplace SORT : {l=}')

COPIED SORT : l=[23, 34, 52, 65, 8, 2, 3] -> s_l=[2, 3, 8, 23, 34, 52, 65]
inplace SORT : l=[2, 3, 8, 23, 34, 52, 65]

In [68]:
# ADD
# append / Push / insert end
l.append(76)
l

[2, 3, 8, 23, 34, 52, 65, 76]

In [69]:
# add another iterable
l.extend([56,99,95])
l

[2, 3, 8, 23, 34, 52, 65, 76, 56, 99, 95]

In [70]:
# insert front
l.insert(0,102)
l

[102, 2, 3, 8, 23, 34, 52, 65, 76, 56, 99, 95]

In [71]:
# DEL
# delete end / Pop
popped = l.pop()
print(f'{popped=}')
l

popped=95

[102, 2, 3, 8, 23, 34, 52, 65, 76, 56, 99]

In [72]:
# remove with value
l.remove(99)
l

[102, 2, 3, 8, 23, 34, 52, 65, 76, 56]

In [73]:
# remove with index
l.remove(3)
l

[102, 2, 8, 23, 34, 52, 65, 76, 56]

In [74]:
# reverse list
l.reverse()
print(l)
l[-1::-1]

[56, 76, 65, 52, 34, 23, 8, 2, 102]

[102, 2, 8, 23, 34, 52, 65, 76, 56]

In [75]:
# count of element v/s Count elements
l.count(2) , len(l)

(1, 9)

In [76]:
# coping 
l2 = l
# vs
l3 = l.copy()
print(f'{l=}\n{l2=}\n{l3=}\nCHANGING 1st list')
l[2] = 44
print(f'{l=}\n{l2=}\n{l3=}\nCHANGING 2nd list')
l2[3] = 45
print(f'{l=}\n{l2=}\n{l3=}\nCHANGING 3rd list')
l3[-1] = 105
print(f'{l=}\n{l2=}\n{l3=}\n')

l=[56, 76, 65, 52, 34, 23, 8, 2, 102]
l2=[56, 76, 65, 52, 34, 23, 8, 2, 102]
l3=[56, 76, 65, 52, 34, 23, 8, 2, 102]
CHANGING 1st list
l=[56, 76, 44, 52, 34, 23, 8, 2, 102]
l2=[56, 76, 44, 52, 34, 23, 8, 2, 102]
l3=[56, 76, 65, 52, 34, 23, 8, 2, 102]
CHANGING 2nd list
l=[56, 76, 45, 52, 34, 23, 8, 2, 102]
l2=[56, 76, 45, 52, 34, 23, 8, 2, 102]
l3=[56, 76, 65, 52, 34, 23, 8, 2, 102]
CHANGING 3rd list
l=[56, 76, 45, 52, 34, 23, 8, 2, 102]
l2=[56, 76, 45, 52, 34, 23, 8, 2, 102]
l3=[56, 76, 65, 52, 34, 23, 8, 2, 105]

In [91]:
# ANY to list
list()
list([2,2,3])
list((2,2,3))
list({2,2,3})

[]

[2, 2, 3]

[2, 2, 3]

[2, 3]

### List as a Stack
The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). 
To add an item to the top of the stack, use append(). 
To retrieve an item from the top of the stack, use pop() without an explicit index.

In [78]:
Stack = []
Stack.append(10)
Stack
Stack.append(20)
Stack
Stack.append(30)
Stack
Stack.append(40)
Stack
Stack.pop()
Stack

[10]

[10, 20]

[10, 20, 30]

[10, 20, 30, 40]

40

[10, 20, 30]

### List as a Queue
It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”); 
however, lists are not efficient for this purpose. 
While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is slow (because all of the other elements have to be shifted by one).

To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends.

In [79]:
from collections import deque
Queue = deque()
Queue.append(10)
Queue
Queue.append(20)
Queue
Queue.append(30)
Queue
Queue.append(40)
Queue
Queue.popleft()
Queue
Queue.popleft()
Queue

deque([10])

deque([10, 20])

deque([10, 20, 30])

deque([10, 20, 30, 40])

10

deque([20, 30, 40])

20

deque([30, 40])

### List Comprehensions
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

[f(x) for x in sequence if condition]

[f(x) if condition else g(x) for x in sequence]

Since Ternary in Py : 

a if condition else b

< Exp1 > if condition else < Exp2 > if condition else < Exp3 >...

In [80]:
powers_of_2 = [2**x for x in range(15)] 
powers_of_2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384]

In [83]:
multiple_of_7 = [i for i in range(171) if not i%17 ]
multiple_of_7

[0, 17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

In [87]:
# get all odd values using list compreshions
s = '24,53,46,35,6,37,83,35,25,39,23'
[int(i) if int(i)%2 else 0 for i in s.strip().split(',')]

[0, 53, 0, 35, 0, 37, 83, 35, 25, 39, 23]

## Tuple

- immutable

In [88]:
# Basics

# Creating a Tuple with the use of multiple values
Tuple_var = (1,2,3,4,'c',"hello",3.456)
Tuple_var

(1, 2, 3, 4, 'c', 'hello', 3.456)

In [92]:

# Creating a Multi-Dimensional List (By Nesting a list inside a List)
tup_var_2 = ((346, 'to'), ("hi","nice"))
tup_var_2

((346, 'to'), ('hi', 'nice'))

In [93]:
# index number
Tuple_var[0]

1

In [94]:
# negative indexing
Tuple_var[-1]

3.456

In [95]:
# slicing
print(f'{Tuple_var[2:4]=}\n{Tuple_var[-2:2:-1]=}')

Tuple_var[2:4]=(3, 4)
Tuple_var[-2:2:-1]=('hello', 'c', 4)

In [106]:
# indexof
Tuple_var.index(Tuple_var[2])

2

In [102]:
#operations
'2m3',45.6,3,2,'f',
tup = (23,34,52,65,8,2,3)
tup

('2m3', 45.6, 3, 2, 'f')

(23, 34, 52, 65, 8, 2, 3)

In [100]:
# copied sort
s_tup = sorted(tup,key=None,reverse=False) # -> list
print(f'COPIED SORT : {tup=} -> {s_tup=}')
# inplace sort NOT POSSIBLE since tuples are immutable
# tup.sort(key=None,reverse=False) 
# print(f'inplace SORT : {tup=}')

COPIED SORT : tup=(23, 34, 52, 65, 8, 2, 3) -> s_tup=[2, 3, 8, 23, 34, 52, 65]

In [107]:
# count of element v/s Count elements
tup.count(2) , len(tup)

(1, 7)

In [112]:
# coping 
tup2 = tup
tup2,tup

((23, 34, 52, 65, 8, 2, 3), (23, 34, 52, 65, 8, 2, 3))

In [113]:
# Pack and Unpack
d = 'Mahanth','Btech',544,'1900A0544'
Name, uG , id, rollNo = d
Name, uG , id, rollNo

('Mahanth', 'Btech', 544, '1900A0544')